* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heading {
    font-size: 28px;
    font-weight: 300;
    background-color: blanchedalmond;
    text-align: center;
}

.overview-list {
    list-style: none;
    line-height: 1.5;
    margin-top: 20px;
}

.image{
    height: 600px;
    width: auto;
    margin-top: 18px;
}

.overview-list.center {
    text-align: left;
}

.heading2 {
    font-size: 22px;
    font-weight: 500;
}

.no-padding {
    margin: 0px;
    padding: 0px;
}

